apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: comfyui-data
  namespace: comfyui
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
